<div class="liber-content">
  <mat-card class="liber-card">
    <mat-card-header style="margin: 0 auto 0 auto">
      <mat-card-title class="liber-boas-vindas">
        <h4 class="liber-mensagem">Seja Bem-vindo(a) ao Liber!</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="liber-user-create-form">
        <mat-form-field appearance="outline" class="liber-input">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="username" [textMask]="{mask: cpfMask}" (input)="validatorCPF()">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="liber-input">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="formGroup.invalid" class="liber-button-primary">
          Entrar
        </button>
      </form>
    </mat-card-content>
    <p class="copyright">&copy; Liber</p>
  </mat-card>
</div>
